[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=4.2.5"
python-dotenv = ">=1.0.0"
selenium = "*"
urllib3 = ">=2.0.5"
python-decouple = "*"
openai = "*"

[dev-packages]

[requires]
python_version = "3.11"
