{% extends 'base.html' %}

{% block styles %}
<style>
  body,
  html {
    height: 100%;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
  }

  .messages-box {
    flex: 1;
    overflow-y: auto;
  }

  .messages-list {
    padding-left: 0;
  }

  .message {
    margin-bottom: 15px;
    list-style: none;
    transition: transform 0.3s;
  }

  .message:last-child {
    transform: translateY(20px);
  }

  .message-text {
    padding: 15px 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
  }

  .sent {
    background-color: #007BFF;
    color: #ffffff;
    align-self: flex-end;
    border-radius: 15px 15px 0px 15px;
  }

  .received {
    background-color: #ffffff;
    align-self: flex-start;
    border-radius: 15px 15px 15px 0px;
  }

  .message-form {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #ffffff;
    border-top: 1px solid #e1e1e1;
  }

  .message-input {
    flex: 1;
    border: 1px solid #e1e1e1;
    border-radius: 25px;
    padding-left: 20px;
  }

  .btn-send {
    border-radius: 25px;
    margin-left: 10px;
    background-color: #007BFF;
    color: #ffffff;
  }

  .chat-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
  }

  .header-container {
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e1e1e1;
  }

  .image {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin: 0 auto;
  }

  h1 {
    margin-top: 10px;
    color: #333;
  }
</style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <!-- Adicione a div para a foto e o texto -->
  <div class="header-container text-center">
    <img class="image"
      src="https://cdn.discordapp.com/attachments/1093675741880799345/1154596619401039902/fantinha1_Please_create_a_cartoon-style_artistic_depiction_of_a_f538d563-b6ee-44be-a5d7-a967917a4961.png"
      alt="Foto do Doutrinator">
    <h1 class="mt-2">Chat com Doutrinator</h1>
  </div>

  <div class="card flex-grow-1">
    <div class="card-body messages-box">
      <ul class="list-unstyled messages-list">
        <li class="message received">
          <div class="message-text" style="border-radius: 10px;">
            <div class="message-sender">
              <b>Doutrinator</b>
            </div>
            <div class="message-content">
              Bem-vindo ao Doutrinator! Faça pelo menos 3 afirmações e tentarei advinhar sua ideologia política.
            </div>
          </div>
        </li>
      </ul>

    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Escreva sua mensagem...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Enviar</button>
      </div>
    </div>
  </form>
</div>

<script>
  $(document).ready(function () {
    const messagesList = $('.messages-list');
    const messageForm = $('.message-form');
    const messageInput = $('.message-input');

    messageForm.on('submit', function (event) {
      event.preventDefault();

      const message = messageInput.val().trim();
      if (message.length === 0) {
        return;
      }

      const messageItem = $('<li></li>').addClass('message sent').html(`
            <div class="message-text">
                <div class="message-sender">
                    <b>Você</b>
                </div>
                <div class="message-content">
                    ${message}
                </div>
            </div>
        `);
      messagesList.append(messageItem);

      messageInput.val('');

      fetch('', {
        method: 'POST',
        headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
        body: new URLSearchParams({
          'csrfmiddlewaretoken': $('[name=csrfmiddlewaretoken]').val(),
          'message': message,
          'character_id': '{{ character.id }}'
        })
      })
        .then(response => response.json())
        .then(data => {
          const response = data.response;
          const messageItem = $('<li></li>').addClass('message received').html(`
                    <div class="message-text">
                        <div class="message-sender">
                          <b>Doutrinator</b>
                        </div>
                        <div class="message-content">
                            ${response}
                        </div>
                    </div>
                `);
          messagesList.append(messageItem);
        });
    });
  });

</script>


{% endblock %}