{% extends 'base.html' %}

{% block styles %}
<style>
    body, html {
      height: 100%;
      background-color: beige;
    }

    .messages-box {
      flex: 1;
      overflow-y: auto;
    }

    .messages-list {
      padding-left: 0;
    }

    .message {
      margin-bottom: 15px;
      list-style: none;
    }

    .message-text {
      padding: 10px;
    }

    .sent {
      background-color: #dcf8c6;
      align-self: flex-end;
      border-radius: 7px;
    }

    .received {
      background-color: #f1f0f0;
      align-self: flex-start;
      border-radius: 7px;
    }

    .message-form {
      display: flex;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 10px;
      background-color: #f8f9fa;
    }

    .message-input {
      flex: 1;
      border-radius: 7px;
      border-right: none;
    }

    .btn-send {
      border-radius: 7px;
    }

    .chat-container {
      height: 100%;
      display: flex;
      flex-direction: column;
      border-radius: 7px;
    }

    .image {
      width: 200px;
      height: 200px;
      border-radius: 50px;
      margin-top: 10px;
    }

  </style>
{% endblock %}


{% block content %}
<div class="chat-container">
  <!-- Adicione a div para a foto e o texto -->
  <div class="header-container text-center">
    <img class="image"src="https://cdn.discordapp.com/attachments/1093675741880799345/1153869896342581338/fantinha1_A_dictator_who_wants_to_convince_everyone_that_his_id_ec1d048d-316c-479b-9d78-797b5e20e3e4.png" alt="Foto do Doutrinator">
    <h1 class="mt-2">Chat com Doutrinator</h1>
  </div>

  <div class="card flex-grow-1">
    <div class="card-body messages-box">
      <ul class="list-unstyled messages-list">
        <li class="message received">
          <div class="message-text" style="border-radius: 10px;">
            <div class="message-sender">
              <b>Doutrinator</b>
            </div>
            <div class="message-content">
              Bem-vindo ao Doutrinator! Faça pelo menos 3 afirmações e tentarei advinhar sua ideologia política.
            </div>
          </div>
        </li>
      </ul>
      
    </div>
    <br><br>
    <br><br>
    <br><br>
  </div>
  <form class="message-form">
    {%csrf_token%}
    <div class="input-group">
      <input type="text" class="form-control message-input" placeholder="Escreva sua mensagem...">
      <div class="input-group-append">
        <button type="submit" class="btn btn-primary btn-send">Enviar</button>
      </div>
    </div>
  </form>
</div>

<script>
 
 const messagesList = document.querySelector('.messages-list');
  const messageForm = document.querySelector('.message-form');
  const messageInput = document.querySelector('.message-input');

  messageForm.addEventListener('submit', (event) => {
    event.preventDefault();

    const message = messageInput.value.trim();
    if (message.length === 0) {
      return;
    }

    const messageItem = document.createElement('li');
    messageItem.classList.add('message', 'sent');
    messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
                <b>Você</b>
            </div>
            <div class="message-content">
                ${message}
            </div>
        </div>`;
    messagesList.appendChild(messageItem);

    messageInput.value = '';

    fetch('', {
      method: 'POST',
      headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
      body: new URLSearchParams({
        'csrfmiddlewaretoken': document.querySelector('[name=csrfmiddlewaretoken]').value,
        'message': message
      })
    })
      .then(response => response.json())
      .then(data => {
        const response = data.response;
        const messageItem = document.createElement('li');
        messageItem.classList.add('message', 'received');
        messageItem.innerHTML = `
        <div class="message-text">
            <div class="message-sender">
              <b>Doutrinator</b>
            </div>
            <div class="message-content">
                ${response}
            </div>
        </div>
          `;
        messagesList.appendChild(messageItem);
      });
  });

</script>


{% endblock %}